/readAMA
etaetaprime/fastfunctions/fastread.so
etaetaprime/fastfunctions/fastread.o
etaetaprime/fastfunctions/cmake_install.cmake
etaetaprime/fastfunctions/Makefile
etaetaprime/fastfunctions/CMakeFiles/*
etaetaprime/fastfunctions/CMakeCache.txt
*~
*.pyc
fastfunctions/CMakeFiles/*
fastfunctions/CMakeCache.txt
docs/_build/*
docs/_templates/*
docs/_static/*
